<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/plantilla::head">
</head>
<style th:replace="layout/plantilla::style"></style>
<body>
<head th:replace="layout/plantilla::header"></head>
<h1>Empleados</h1>


<div th:if="${employees != null and !employees.empty}">
<table class="content-table">
    <tr>
        <th>ID</th>
        <th>Surname</th>
        <th>Firstname</th>
        <th>Editar</th>
        <th>Eliminar</th>

    </tr>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.id}">Mostrar Id</td>
        <td th:text="${employee.surname}">Mostrar Surname</td>
        <td th:text="${employee.firstname}">Mostrar firstname</td>
        <td><a th:href="@{/employee/editar/} + ${employee.id}" th:text="Editar"/></td>
        <td><a th:href="@{/employee/eliminar/} + ${employee.id}" th:text="Eliminar"/></td>


    </tr>

</table>
</div>
<a th:href="@{/employee/agregar}">Agregar Empleado</a>

<div th:if="${employees == null or employees.empty}">
    <p>La lista de Empleados está vacía está vacía</p>
</div>
<footer th:replace="layout/plantilla::footer"></footer>
</body>
</html>