<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/plantilla::head">
</head>
<style th:replace="layout/plantilla::style"></style>
<body>
<head th:replace="layout/plantilla::header"></head>
<h1>Empleados</h1>


<div th:if="${languages != null and !languages.empty}">
<table class="content-table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Editar</th>
        <th>Eliminar</th>

    </tr>
    <tr th:each="language: ${languages}">
        <td th:text="${language.id}">Mostrar Id</td>
        <td th:text="${language.code}">Mostrar Codigo</td>
        <td th:text="${language.name}">Mostrar Nombre</td>
        <td><a th:href="@{/language/editar/} + ${language.id}" th:text="Editar"/></td>
        <td><a th:href="@{/language/eliminar/} + ${language.id}" th:text="Eliminar"/></td>


    </tr>

</table>
</div>
<a th:href="@{/agregar}">Añadir Idioma</a>

<div th:if="${languages == null or languages.empty}">
    <p>La lista de Empleados está vacía está vacía</p>
</div>
<footer th:replace="layout/plantilla::footer"></footer>
</body>
</html>